<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <dict>
                <key>id</key>
                <string>1006</string>
                <key>image</key>
                <string>mosaics-icon</string>
                <key>name</key>
                <string>图片-马赛克</string>
                <key>detail</key>
                <string></string>
                <key>target</key>
                <string>YIMosaicsVc</string>
            </dict>
            <dict>
                <key>id</key>
                <string>1001</string>
                <key>image</key>
                <string>gaosimohu_icon</string>
                <key>name</key>
                <string>图片-高斯模糊</string>
                <key>detail</key>
                <string></string>
                <key>target</key>
                <string>YIBlurVc</string>
            </dict>
            <dict>
                <key>id</key>
                <string>1002</string>
                <key>image</key>
                <string>ninegrid_icon</string>
                <key>name</key>
                <string>朋友圈-九宫格</string>
                <key>detail</key>
                <string></string>
                <key>target</key>
                <string>YINineGridVc</string>
            </dict>
            <dict>
                <key>id</key>
                <string>1003</string>
                <key>image</key>
                <string>flashlight_icon</string>
                <key>name</key>
                <string>手电筒</string>
                <key>detail</key>
                <string></string>
                <key>target</key>
                <string>YIFlashlightVc</string>
            </dict>
            <dict>
                <key>id</key>
                <string>1004</string>
                <key>image</key>
                <string>qr_code_icon</string>
                <key>name</key>
                <string>扫一扫/二维码</string>
                <key>detail</key>
                <string></string>
                <key>target</key>
                <string></string>
            </dict>
            <dict>
                <key>id</key>
                <string>1005</string>
                <key>image</key>
                <string>calculator_icon</string>
                <key>name</key>
                <string>竖式计算器</string>
                <key>detail</key>
                <string></string>
                <key>target</key>
                <string>YICalculatorVc</string>
            </dict>
        </array>
        <array>
            <dict>
                <key>id</key>
                <string>100</string>
                <key>image</key>
                <string>home</string>
                <key>name</key>
                <string>首页</string>
                <key>detail</key>
                <string>工具列表</string>
                <key>target</key>
                <string>YIIndexVc</string>
            </dict>
        </array>
    </array>
</plist>
